{% extends 'layout.html' %}
{% block content %}
<h1>Login</h1>
<div class="login-container">
    <form action="/" method="post" class="login-form">
        {{ form.hidden_tag() }}
        <div class="input__wrapper">
            <input type="text" name="username" id="username" placeholder="Username" class="input__field" required/>
        </div>
        <div class="input__wrapper">
            <input type="password" name="password" id="password" placeholder="Password" class="input__field" required/>
        </div>
        <div class="input__wrapper">
            <input type="submit" class="btn" value="Log In" />
        </div>
        {% if error %}
            <p>Password Incorrect!!</p>
        {% endif %}
    </form>
</div>
{% endblock %}
